@import url("https://p.typekit.net/p.css?s=1&k=xxy0cql&ht=tk&f=1864.1865.1866.1867.11447.11449.11451.11453&a=138115143&app=typekit&e=css");
@font-face { 
    font-family:"apolline";
    src: url("https://use.typekit.net/af/b4c6df/000000000000000077359919/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-display:auto;
    font-style:normal;
    font-weight:400;
    font-stretch:normal;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #758053;
    color: #52402b;
    list-style-type: none;
    font-family: appolline;
    }
    .nav-links a {
        color: #cfc8c0;
        text-decoration: none;
        font-family: appolline;
    }
    .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
    font-family: appolline;
    list-style-type: none;
    }
    .menu li:hover {
        background-color:rgb(150, 160, 159);
    border-radius: 5px;
    transition: 0.3s ease;
    list-style-type: none;
    }
     .menu li {
    padding: 5px 14px;
    }
    .projects {
    position: relative; 
    }
    .dropdown {
    background-color: #758053;
    padding: 1em 0;
    position: absolute;
    display: none;
    border-radius: 8px;
    top: 30px;
    list-style-type: none;
    }
    .dropdown li + li {
    margin-top: 10px;
    }
    
    .dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
    }
    .dropdown li:hover {
    background-color:rgb(150, 160, 159);
    }
    .projects:hover .dropdown {
    display: block;
    }
input[type=checkbox] {
    display: none;
    } 
    .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
    }
    @media screen and (max-width: 768px) {
    .menu {
    display:none;
    position: absolute;
    background-color: #758053;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
    }
    
    .menu li:hover {
    display: inline-block;
    background-color: #758053;
    transition: 0.3s ease;
    }
    
    .menu li + li {
    margin-top: 12px;
    }
    
    input[type=checkbox]:checked ~ .menu {
    display: block;
    }
    
    .hamburger {
    display: block;
    }
    
    .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(25%);
    }
    
    .dropdown li:hover {
        background-color: #758053;
    }
    }