 ul{
        display: flex;
        flex-direction: row;
        list-style-type: none;
        padding: 0;
        margin: 0;
 }
 li{
        width: 150px;
        margin: 0 15px 15px 0;
        text-align: center;
    }
nav {
    width:100%;
    height: 60px;
    background: #758053;
    padding: 10px
}
nav ul {
    float: left;
    list-style-type:none;
}

    nav>ul li {
        float: left;
        padding: 5 px;
        position: relative;
    }
    nav ul li{
        margin-bottom: 3px;
    } 
    nav a {
        text-decoration: none;
        color:rgb(22, 22, 21);
        padding: 15px 25px 25px 15px;
        display:block;
    }
    
    nav ul>li ul {
        display: none;
        position: absolute;
        top:100%;
        background-color:rgb(150, 160, 159);
        white-space:normal;
        
    }
nav>ul>li:hover>ul{
    display:block;
    white-space: normal;
}
    nav a:hover, nav a:focus{
        background-color:rgb(245, 231, 215);
        padding: 25px 20px;
        
    }
    @media only screen and (max-width: 640px) {
        header {
            position: relative;
            height: 60px;
            display: block;
            background-color: #758053;
            width: 100%;        
    
        }
        #hamburger {
            display: inline-block;
            padding-left: 20px;
            width: 26px;
            float:left;
            font-size: 3em;
        }
        nav ul, nav:active ul {
            display: none;
            position: absolute;
            padding: 20px 20px 20px 0px;
            top: 20px;
                }
        nav:hover ul {
            display: block;
        }
            nav:hover #mobileHide {
            display: none;
        }
        nav li {
            text-align: center;
        }
        nav>ul li {
        text-align: left;
        color: rgb(245, 231, 215);
        float: left;
    }
    nav a {
        display: inline-block;
        padding: 10px 0px 10px 20px;
        width: 240px;
        margin-bottom: 2px;
    }
    nav .lastMobile {border-bottom: 2px solid black;}
        nav ul li ul {
            display:none;
        }
    }