@import url("https://p.typekit.net/p.css?s=1&k=xxy0cql&ht=tk&f=1864.1865.1866.1867.11447.11449.11451.11453&a=138115143&app=typekit&e=css");

@font-face { 
    font-family:"apolline";
    src: url("https://use.typekit.net/af/b4c6df/000000000000000077359919/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-display:auto;
    font-style:normal;
    font-weight:400;
    font-stretch:normal;
}
@font-face {
    font-family:"apollineitalic";
    src: url("https://use.typekit.net/af/64c8fb/000000000000000077359ece/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
    font-display:auto;
    font-style:italic;
    font-weight:700;
    font-stretch:normal;
    }
h1 {color: #3d281a;
text-align: center;
}
body{
    width: 100%;
    margin: 0;
}
footer {
    position: fixed;
    margin:0;
    bottom:0;
    left:0;
    right:0;
    padding-left:10px;
    padding-top: 15px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content:left;
        align-items: left;
    background-color: blanchedalmond;
    background-image: url(/islt_7355/images/snowbg.jpg);
    background-repeat: no-repeat;
    object-fit: cover;
    font-size: 16px !important;
    font-family:apolline;
   }
   .container2{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
    background-color: rgba(165, 135, 89, 0.8);
    padding: 30px;
    position: relative;
    font-family:apolline;
  }
  .container2 > div {
    background-color: rgba(228, 208, 170, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    font-family:apolline;
  }
  .container2 > h2 {
    background-color:#606c38;
    text-align: center;
    padding: 20px 0;
    font-size: 50px;
    font-family:apolline;
  }
  h2 {
    background-color:#606c38;
    text-align: center;
    padding: 20px 0;
    font-size: 50px;
    border: 15px ridge black ;
    max-width: 95%;
    min-width: 5%;
    font-family:apolline;
  }
  .ProjectHead{
    grid-column-start: 1;
    grid-column-end: 3;
    color:beige;
    background-color: #000000;
    font-family:apolline;
  }
.project1{
    grid-column-start: 1;
    grid-column-end: 3;
    font-family:apolline;
}
.project2{
    grid-column-start: 1;
    grid-column-end: 3;
    font-family:apolline;
}
.project3{
    grid-column-start: 1;
    grid-column-end: 3;
    font-family:apolline;
}
.Jtable {
    border-collapse: collapse;
    width: 100%;
    border:5px solid;
    font-family:apolline;
}
td, th{
    border: 1px solid #ddd;
    padding: 8px;
}
tr:nth-child(3){
    background-color:rgb(219, 176, 110)
}
tr:nth-child(4){
    background-color: #096b00;
    color: white;
}
th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #096b00;
    color: white;
}
.container3{
    display: flex;
    flex-direction:column;
    background-color: rgba(165, 135, 89, 0.8);
    align-items: center;
    border-style: double;
    font-family:apolline;
    padding-bottom: 30px;
}
.p1{
    text-align: center;
    background-color: antiquewhite;
    padding: 15px 15px 30px 20px;
    border: 10px inset rgba(68, 57, 41, 0.8);
    font-family: apolline;
}
.h3{
    display: block;
    text-align: center;
    background-color:rgba(228, 208, 170, 0.8);
    padding: 15px 15px 20px 20px;
}

  .container {
    display: grid;
    margin: 0;
    width: 100%;
    justify-content: center;
    background-color:rgba(228, 208, 170, 0.8);
  }
.h1{
    display: block;
    text-align: center;
}
  .Education
{
    display:block;
    text-align: center;
    font-family: apolline, serif;
font-weight: 400;
font-style: normal;
margin:0;
grid-area: Education;
padding: 0;
}
ul.a{
    margin:auto;
    list-style-type:none;
    grid-area:ed1;
}
ul.a>li{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 65%;
    text-align: left;
    padding: 5px 5px 5px 5px;
    background: rgb(38, 90, 38);
    color:rgba(228, 208, 170, 0.8);
    border: 10px double black;
    margin: 0;
}
.container4{
    display:grid;
    grid-template-areas:
    'Education Education Education'
    'ed1 res vid';
    background-color:rgb(179, 144, 104);
    padding:0px 10px 35px 10px;
    margin: 0;
}
video{
grid-area: vid;
width: 70%;
padding: 0px 0px 10px 0px !important;
}
  .Resume { 
    border: 5px solid #000000;
    background:rgb(34, 105, 25);
    color:antiquewhite;
     width: 250px;
    height: 150px;
    font-family: 'Palatino', Georgia, serif;
    font-size:x-large;
    grid-area: res;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: middle;
    line-height: 150px;
}
.pic{
    width: 25px;
    height:25px;
    transition: transform .2s;
}
.pic2{
    height: 60px;
    padding-left: 20px;
}
.pic3{
    height: 150px;
    width: 150px;
      display: block;
  margin-left: auto;
  margin-right: auto;
}
.pic:hover{
    transform: scale(1.5);
}
blockquote
{
    font-family: 'apollineitalic';
    background-color:rgb(179, 144, 104);
    color:#3d281a;
    padding: 20px 20px 20px 20px;
    border: 5px solid gray;
}
.container5{
    display: flex;
    flex-direction:column;
    background-color: rgba(165, 135, 89, 0.8);
    align-items: center;
    border-style: double;
    font-family:apolline;
    padding-bottom: 50px;

}
form{
    display: grid;
    grid-template-columns: auto;
    gap: 30px;
    background-color: rgba(165, 135, 89, 0.8);
    padding: 30px;
    position: relative;
}
input {
    width: 10%;
    height: 40px
}
input::placeholder {
    opacity: 0.5;
    color: rgb(0, 0, 0);
}
textarea::placeholder{
    opacity: 0.5;
    color: rgb(0, 0, 0);
}
textarea{
    width:50%
}
button{
    width: 90px;
    height: 90px;
    background-color: rgb(90, 65, 36);
    color:antiquewhite;
    margin-bottom: 50px;
}
figcaption{
    font-size: medium;
}
@media screen and (min-width:601px) { 
    main { 
        font-size: 20pt;
    } 

}
@media screen and (max-width:600px) { 
    main { 
        font-size: 16pt;
    }
    .footer{
        width: 50%;
        position: sticky;
    }
        tr {
            font-size: 20px;
        }
        .Jtable {
            overflow-x: auto;
        display: block;
        }
        form{
            width: 50%;
            margin-left: 25%;
            margin-right:25%;
            font-size: 20px; 
        }
        .container4
        { 
            display: block;
            width: auto;
        } 
        img{
            width: 45%;
            height: auto;
        }
        video{
            width: auto;
        }
        .Resume{
            width: 45%
        }
        .container{
            display: block;
            width: auto;
        }
        input {
            width: 100%;
            height: 40px
        }
    }  
@media print {
    *{
        background: transparent !important;
        color: #000 !important;
    }
    .nav,
    .Resume
    {
        display: none;
    }
    @page{
        margin: 1in;
    }
    }
