h1 {color: #606c38;}
footer {
    position: fixed;
    bottom:0;
    left:0;
    right:0;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content:left;
        align-items: left;
    background-color: blanchedalmond;
   }
   .container {
    display:grid;
    grid-template-areas:
        "Heading Heading Heading Heading Heading"
        "Heading1 Heading1 Heading1 Heading1 Heading1"
        "Main . . . Overivew"
        "Resume . . . ."
    }
.Heading { 
    grid-area: Heading; 
}
.Heading1 { 
    grid-area: Heading1; 
}
  .Main { 
    grid-area: Main; 
}
  .Overview { 
    grid-area: Overview; 
}
  .Resume { 
    grid-area: Resume; 
    padding-top: 20px;
    padding-left: 10px;
    border: 5px solid #000000;
                    background:#dda15eff;
                    margin-top:15px;
                    margin-bottom:50px;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    padding-left: 15px;
                    padding-right: 25px;
                    width: 50px;
                        font-family: 'Palatino', Georgia, serif;
                        font-size: large;
}
@media screen and (max-width:900px) { 
    main { 
        background-color:lightslategray; 
    } 
}
@media screen and (max-width:350px) { 
    main { 
        background-color:blueviolet; 
    } 
} 
