@import url("https://p.typekit.net/p.css?s=1&k=xxy0cql&ht=tk&f=1864.1865.1866.1867.11447.11449.11451.11453&a=138115143&app=typekit&e=css");

@font-face { 
    font-family:"apolline";
    src: url("https://use.typekit.net/af/b4c6df/000000000000000077359919/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-display:auto;
    font-style:normal;
    font-weight:400;
    font-stretch:normal;
}
@font-face {
    font-family:"apollineitalic";
    src: url("https://use.typekit.net/af/64c8fb/000000000000000077359ece/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
    font-display:auto;
    font-style:italic;
    font-weight:700;
    font-stretch:normal;
    }
h1 {color: #606c38;}
body{
    width: 100%
}
footer {
    position: fixed;
    bottom:0;
    left:0;
    right:0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content:left;
        align-items: left;
    background-color: blanchedalmond;
    text-decoration-color: beige;
    background-image: url(/islt_7355/images/fbooks.jpg)
   }

  .container {
    display: flex;
    flex-direction: column;
    position: sticky;
    justify-content: space-around;
    text-align:center;
    flex-wrap: wrap;
    width: 100%;
  }
  .container>div {
    position: fixed;
    text-align:center;
    margin: 10px;
    min-width: 0;
    white-space: normal;
    justify-content: space-around;
  }
  .Education
{
    display:block;
    text-align: center;
    font-family: apolline, serif;
font-weight: 400;
font-style: normal;
    
}
ul.a{
    margin:auto;
    list-style-type:none;
}
ul.a>li{
    display: block;
    width: 100%;
    padding: 150px;
    text-align: left;
}
  .Resume { 
    display: block;
    padding-top: 120px;
    padding-left: 10px;
    padding-bottom: 170px;
    border: 5px solid #000000;
                    background:#dda15eff;
                    margin-top:15px;
                    margin-bottom:50px;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    padding-left: 15px;
                    padding-right: 25px;
                    width: 50px;
                        font-family: 'Palatino', Georgia, serif;
                        font-size: large;
}

blockquote
{
    font-family: 'apollineitalic';
}
@media screen and (min-width:601px) { 
    main { 
        background-color: none; 
        font-size: 20pt;
    } 
}
@media screen and (max-width:600px) { 
    main { 
        background-color: none; 
        font-size: 16pt;
    } 
} 
@media print {
    *{
        background: transparent !important;
        color: #000 !important;
    }
    .nav,
    .Resume
    {
        display: none;
    }
    @page{
        margin: 1in;
    }
    }